<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Gallery</title>
</head>

<body>
    <h1>Add Art Collection</h1>
    <form action="/art/addArt" method="POST">
        <div>
            <label for="art_name">art_name</label>
            <input type="text" name="art_name" id="art_name" placeholder="art_name">
        </div>
        <div>
            <label for="artist_id">artist_id</label>
            <input type="text" name="artist_id" id="artist_id" placeholder="artist_id">
        </div>
        <div>
            <label for="art_type">art_type</label>
            <input type="text" name="art_type" id="art_type" placeholder="art_type">
        </div>
        <div>
            <label for="art_description'">art_description</label>
            <input type="text" name="art_description" id="art_description" placeholder="art_description">
        </div>
        <div>
            <label for="base_price">base_price</label>
            <input type="number" name="base_price" id="base_price" placeholder="base_price">
        </div>
        <button>Add Collection</button>
    </form>
</body>

</html>