<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Collections</title>

</head>
<body>
    <h1>Edit Buyer</h1>
    <form action="/buyer/editBuyer/<%= buyer.buyer_id%>?_method=PATCH" method="POST">
        <div>
            <label for="buyer_name">buyer_name</label>
            <input type="text" name="buyer_name" id="buyer_name" placeholder="buyer_name" value="<%= buyer.buyer_name %> ">
        </div>
        <div>
            <label for="login_password">login_password</label>
            <input type="password" name="login_password" id="login_password" placeholder="login_password" value="<%= buyer.login_password %> ">
        </div>
        <button>Edit Buyer</button>
    </form>
</body>
</html>