<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Gallery</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
     
    <div align="center">
    <h1 style="color:rgb(25, 3, 35)"> <b><i>ArtGallery</i></b></h1>
    <h1> </h1>
    <h1 style="color:rgb(34, 3, 32)"><b>
        Welcome to Online Art Shopping..</b></h1>
    </div>
    
    <h2>
        <button type="button" style= "color: rgb(51, 0, 255);"> <a href="/art"><b><h1>Art collection</h1></b></a> </button>
       
    </h2>
    <h2>
        
        <button type="button" style="font: bold 14px Arial;"> <a href="/buyer"><h1>Buyers</h1></a></button>
        
    </h2>
    <h2>
        <button type="button" style="font: bold 14px Arial;"><a href="/queries"><h1>Run SQL queries</h1></a></button>
    </h2>
</body>

</html>