body{
    
    background-image: url(https://images-platform.99static.com//Pbim3yI0JmavXkPAFQa2ADpeSgg=/0x0:1690x1690/fit-in/500x500/99designs-contests-attachments/87/87215/attachment_87215454);
background-size:65% ; 
    
    backface-visibility: hidden;
    background-repeat: no-repeat;
   
   background-color: rgb(232, 185, 185);
    background-position-x: center;
    background-position-y: center;
}

a{
    text-decoration: none;
}